demo-stojan/nodered.txt
[{"id":"1f57b46f.a509bc","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"b9c7c634.575e28","type":"tab","label":"DashBoard","disabled":false,"info":""},{"id":"340e2aa4.c53f56","type":"tab","label":"Main Flow","disabled":false,"info":""},{"id":"43ed85cb.fec26c","type":"tab","label":"Blynk","disabled":false,"info":""},{"id":"29fba84a.b2af58","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bf6a3c96.35048","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"11207769.c31889","type":"ui_tab","z":"","name":"DEMO stojan","icon":"dashboard"},{"id":"57ff470b.93fdf8","type":"ui_group","z":"","name":"CO2 monitor","tab":"11207769.c31889","disp":true,"width":"6","collapse":false},{"id":"b9c6ce26.a917b","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"7c2becd1.a509b4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"49b98167.04eec","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4c73d92e.c10a18","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8a4af0f1.87235","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"aa441fb3.e9497","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4a7cbff8.fe3b5","type":"ui_group","z":"","name":"Temperature","tab":"11207769.c31889","disp":true,"width":"6","collapse":false},{"id":"abd84e58.9d6fa","type":"ui_group","z":"","name":"Humidity","tab":"11207769.c31889","disp":true,"width":"6","collapse":false},{"id":"96750594.dc0d28","type":"ui_group","z":"","name":"Illuminance","tab":"11207769.c31889","disp":true,"width":"6","collapse":false},{"id":"bea86a15.4ba128","type":"blynk-ws-client","z":"","name":"","path":"ws://blynk-cloud.com:8080/websockets","key":"ec1e89f3955e41d8971a7324b3091181","dbg_all":false,"dbg_read":false,"dbg_write":false,"dbg_notify":false,"dbg_mail":false,"dbg_prop":false,"dbg_sync":false,"dbg_bridge":false,"dbg_low":false,"dbg_pins":"","multi_cmd":false,"proxy_type":"no","proxy_url":""},{"id":"90dfed7b.d7791","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8d34cec5.0eeb1","type":"blynk-ws-client","z":"","name":"","path":"ws://blynk-cloud.com:8080/websockets","key":"ec1e89f3955e41d8971a7324b3091181","dbg_all":false,"dbg_read":false,"dbg_write":false,"dbg_notify":false,"dbg_mail":false,"dbg_prop":false,"dbg_sync":false,"dbg_bridge":false,"dbg_low":false,"dbg_pins":"","multi_cmd":false,"proxy_type":"no","proxy_url":""},{"id":"99c33776.351de8","type":"inject","z":"1f57b46f.a509bc","name":"led true","topic":"node/{id}/led/-/state/set","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":40,"wires":[["50847c1b.54a264"]]},{"id":"b00fcebe.de08c","type":"inject","z":"1f57b46f.a509bc","name":"led false","topic":"node/{id}/led/-/state/set","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":180,"y":80,"wires":[["50847c1b.54a264"]]},{"id":"674fe29d.17851c","type":"inject","z":"1f57b46f.a509bc","name":"relay true","topic":"node/{id}/relay/-/state/set","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":180,"y":180,"wires":[["50847c1b.54a264"]]},{"id":"7f25a0c4.22464","type":"inject","z":"1f57b46f.a509bc","name":"relay false","topic":"node/{id}/relay/-/state/set","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":180,"y":220,"wires":[["50847c1b.54a264"]]},{"id":"65c2ab5a.abb564","type":"inject","z":"1f57b46f.a509bc","name":"led get","topic":"node/{id}/led/-/state/get","payload":"null","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":120,"wires":[["50847c1b.54a264"]]},{"id":"953fc0e7.168e9","type":"inject","z":"1f57b46f.a509bc","name":"relay get","topic":"node/{id}/relay/-/state/get","payload":"null","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":180,"y":260,"wires":[["50847c1b.54a264"]]},{"id":"ef540380.64cbd","type":"inject","z":"1f57b46f.a509bc","name":"led-strip set color #ff0000","topic":"node/{id}/led-strip/-/color/set","payload":"\"#ff0000\"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":230,"y":380,"wires":[["50847c1b.54a264"]]},{"id":"d65ce4f4.8dcde8","type":"inject","z":"1f57b46f.a509bc","name":"led-strip set color #00ff00","topic":"node/{id}/led-strip/-/color/set","payload":"\"#00ff00\"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":230,"y":420,"wires":[["50847c1b.54a264"]]},{"id":"1e300a6e.f3c106","type":"inject","z":"1f57b46f.a509bc","name":"led-strip compound","topic":"node/{id}/led-strip/-/compound/set","payload":"[20, \"#ff0000\", 20, \"#ff7f00\", 20, \"#ffff00\", 20, \"#00ff00\", 20, \"#0000ff\", 20, \"#960082\", 24, \"#D500ff\"]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":210,"y":620,"wires":[["50847c1b.54a264"]]},{"id":"94784363.adb8a","type":"inject","z":"1f57b46f.a509bc","name":"led-strip effect test","topic":"node/{id}/led-strip/-/effect/set","payload":"{\"type\":\"test\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":210,"y":660,"wires":[["50847c1b.54a264"]]},{"id":"b377a17c.bedbe","type":"inject","z":"1f57b46f.a509bc","name":"led-strip effect rainbow","topic":"node/{id}/led-strip/-/effect/set","payload":"{\"type\":\"rainbow\", \"wait\":50}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":220,"y":700,"wires":[["50847c1b.54a264"]]},{"id":"ecd81b58.4a6418","type":"inject","z":"1f57b46f.a509bc","name":"led-strip effect rainbow-cycle","topic":"node/{id}/led-strip/-/effect/set","payload":"{\"type\":\"rainbow-cycle\", \"wait\":50}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":240,"y":740,"wires":[["50847c1b.54a264"]]},{"id":"c49a44f.ddec8b8","type":"inject","z":"1f57b46f.a509bc","name":"led-strip effect theater-chase-rainbow","topic":"node/{id}/led-strip/-/effect/set","payload":"{\"type\":\"theater-chase-rainbow\", \"wait\":50}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":270,"y":780,"wires":[["50847c1b.54a264"]]},{"id":"b7f63852.d26738","type":"inject","z":"1f57b46f.a509bc","name":"led-strip set brightness 50%","topic":"node/{id}/led-strip/-/brightness/set","payload":"50","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":240,"y":520,"wires":[["50847c1b.54a264"]]},{"id":"8c43ef3d.509ce","type":"inject","z":"1f57b46f.a509bc","name":"led-strip set brightness 100%","topic":"node/{id}/led-strip/-/brightness/set","payload":"100","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":240,"y":560,"wires":[["50847c1b.54a264"]]},{"id":"21db8f23.63cc8","type":"inject","z":"1f57b46f.a509bc","name":"led-strip effect color-wipe blue","topic":"node/{id}/led-strip/-/effect/set","payload":"{\"type\":\"color-wipe\", \"wait\":50, \"color\": \"#0000ff\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":240,"y":820,"wires":[["50847c1b.54a264"]]},{"id":"65db0a9.d6680f4","type":"inject","z":"1f57b46f.a509bc","name":"led-strip set color #000000(00)","topic":"node/{id}/led-strip/-/color/set","payload":"\"#000000(00)\"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":240,"y":460,"wires":[["50847c1b.54a264"]]},{"id":"59ddc6f9.d8dd08","type":"mqtt out","z":"1f57b46f.a509bc","name":"","topic":"","qos":"","retain":"","broker":"4c73d92e.c10a18","x":910,"y":460,"wires":[]},{"id":"50847c1b.54a264","type":"change","z":"1f57b46f.a509bc","name":"set node id","rules":[{"t":"change","p":"topic","pt":"msg","from":"{id}","fromt":"str","to":"power-controller:0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":460,"wires":[["59ddc6f9.d8dd08"]]},{"id":"8eacc17.3986a4","type":"inject","z":"1f57b46f.a509bc","name":"led-strip effect stroboscope blue","topic":"node/{id}/led-strip/-/effect/set","payload":"{\"type\":\"stroboscope\", \"wait\":50, \"color\":\"#0000ff\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":250,"y":860,"wires":[["50847c1b.54a264"]]},{"id":"8422a065.835fd","type":"inject","z":"1f57b46f.a509bc","name":"led-strip effect icicle red","topic":"node/{id}/led-strip/-/effect/set","payload":"{\"type\":\"icicle\", \"wait\":50, \"color\":\"#ff0000\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":220,"y":900,"wires":[["50847c1b.54a264"]]},{"id":"39f1aaad.6bca76","type":"inject","z":"1f57b46f.a509bc","name":"led-strip effect pulse-color red","topic":"node/{id}/led-strip/-/effect/set","payload":"{\"type\":\"pulse-color\", \"wait\":200, \"color\":\"#ff0000\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":240,"y":940,"wires":[["50847c1b.54a264"]]},{"id":"d9a9ac7a.cec2d","type":"inject","z":"1f57b46f.a509bc","name":"led-strip set color #0000ff","topic":"node/{id}/led-strip/-/color/set","payload":"\"#0000ff\"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":230,"y":340,"wires":[["50847c1b.54a264"]]},{"id":"be616672.fa2378","type":"mqtt in","z":"b9c7c634.575e28","name":"concentration CO2","topic":"node/co2-monitor:0/co2-meter/-/concentration","qos":"2","broker":"29fba84a.b2af58","x":170,"y":100,"wires":[["e6798cdd.0d0d2","70c5bb33.0d71d4"]]},{"id":"e6798cdd.0d0d2","type":"ui_gauge","z":"b9c7c634.575e28","name":"","group":"57ff470b.93fdf8","order":0,"width":0,"height":0,"gtype":"gage","title":"Concentration CO2","label":"ppm","format":"{{value}}","min":"400","max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":100,"wires":[]},{"id":"d8ab0175.61355","type":"mqtt in","z":"340e2aa4.c53f56","name":"tlačítko blue","topic":"node/blue-push-button/push-button/-/event-count","qos":"2","broker":"29fba84a.b2af58","x":130,"y":120,"wires":[["3fa39b7e.cb0ff4","ceb57429.ae2238"]]},{"id":"3fa39b7e.cb0ff4","type":"debug","z":"340e2aa4.c53f56","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":100,"wires":[]},{"id":"ceb57429.ae2238","type":"function","z":"340e2aa4.c53f56","name":"blue","func":"var color = \"#000000\";\nif (msg.payload % 2 == 0) {\n    color = \"#0000ff\";\n}\n\nreturn {payload: '\"' + color + '\"'};","outputs":1,"noerr":0,"x":290,"y":140,"wires":[["31829ec2.c8eb82"]]},{"id":"31829ec2.c8eb82","type":"mqtt out","z":"340e2aa4.c53f56","name":"rozsvěcení led pásku","topic":"node/power-controller:0/led-strip/-/color/set","qos":"","retain":"","broker":"29fba84a.b2af58","x":510,"y":160,"wires":[]},{"id":"44e08bb1.c6b1b4","type":"mqtt in","z":"340e2aa4.c53f56","name":"tlačítko red","topic":"node/red-push-button/push-button/-/event-count","qos":"2","broker":"29fba84a.b2af58","x":120,"y":240,"wires":[["3b7f3b8a.1559a4","d2950135.cbb2c"]]},{"id":"3b7f3b8a.1559a4","type":"debug","z":"340e2aa4.c53f56","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":220,"wires":[]},{"id":"d2950135.cbb2c","type":"function","z":"340e2aa4.c53f56","name":"red","func":"var color = \"#000000\";\nif (msg.payload % 2 == 0) {\n    color = \"#ff0000\";\n}\n\nreturn {payload: '\"' + color + '\"'};","outputs":1,"noerr":0,"x":290,"y":260,"wires":[["dc33e085.7b909"]]},{"id":"dc33e085.7b909","type":"mqtt out","z":"340e2aa4.c53f56","name":"rozsvěcení led pásku","topic":"node/power-controller:0/led-strip/-/color/set","qos":"","retain":"","broker":"29fba84a.b2af58","x":510,"y":280,"wires":[]},{"id":"a77df1f4.98e66","type":"mqtt in","z":"340e2aa4.c53f56","name":"tlačítko orange","topic":"node/orange-push-button/push-button/-/event-count","qos":"2","broker":"29fba84a.b2af58","x":140,"y":380,"wires":[["4189848d.61888c","b0040ad2.df33e8"]]},{"id":"4189848d.61888c","type":"debug","z":"340e2aa4.c53f56","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":360,"wires":[]},{"id":"b0040ad2.df33e8","type":"function","z":"340e2aa4.c53f56","name":"přepnutí","func":"var stav = \"false\";\nif (msg.payload % 2 == 0) {\n    stav = \"true\";\n}\n\nreturn {payload: '\"' + stav + '\"'};","outputs":1,"noerr":0,"x":320,"y":400,"wires":[["d6baacf5.70309"]]},{"id":"d6baacf5.70309","type":"mqtt out","z":"340e2aa4.c53f56","name":"přepínání relé","topic":"node/power-controller:1/relay/-/state/set","qos":"","retain":"","broker":"29fba84a.b2af58","x":490,"y":420,"wires":[]},{"id":"70c5bb33.0d71d4","type":"ui_chart","z":"b9c7c634.575e28","name":"","group":"57ff470b.93fdf8","order":0,"width":0,"height":0,"label":"Concentration CO2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":500,"y":160,"wires":[[],[]]},{"id":"4268caaa.f22644","type":"mqtt in","z":"340e2aa4.c53f56","name":"","topic":"#","qos":"2","broker":"29fba84a.b2af58","x":140,"y":40,"wires":[["64882b35.634254"]]},{"id":"64882b35.634254","type":"debug","z":"340e2aa4.c53f56","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":40,"wires":[]},{"id":"72bf0c9a.b291e4","type":"mqtt in","z":"b9c7c634.575e28","name":"temperature","topic":"node/co2-monitor:0/thermometer/0:0/temperature","qos":"2","broker":"29fba84a.b2af58","x":150,"y":240,"wires":[["ffea3503.4f63d8","a96e8323.8fe44"]]},{"id":"ffea3503.4f63d8","type":"ui_gauge","z":"b9c7c634.575e28","name":"","group":"4a7cbff8.fe3b5","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":"-20","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":240,"wires":[]},{"id":"a96e8323.8fe44","type":"ui_chart","z":"b9c7c634.575e28","name":"","group":"4a7cbff8.fe3b5","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":480,"y":300,"wires":[[],[]]},{"id":"94f0e547.d42ce8","type":"mqtt in","z":"b9c7c634.575e28","name":"humidity","topic":"node/climate-monitor:0/hygrometer/0:4/relative-humidity","qos":"2","broker":"29fba84a.b2af58","x":140,"y":360,"wires":[["dbdb876e.ff43b8","cedd3ee6.57b7c"]]},{"id":"dbdb876e.ff43b8","type":"ui_gauge","z":"b9c7c634.575e28","name":"","group":"abd84e58.9d6fa","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":360,"wires":[]},{"id":"cedd3ee6.57b7c","type":"ui_chart","z":"b9c7c634.575e28","name":"","group":"abd84e58.9d6fa","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":470,"y":420,"wires":[[],[]]},{"id":"5b3c8c28.faa844","type":"mqtt in","z":"b9c7c634.575e28","name":"illuminance","topic":"node/climate-monitor:0/lux-meter/0:0/illuminance","qos":"2","broker":"29fba84a.b2af58","x":140,"y":500,"wires":[["ba6927e6.946428","95411978.435408"]]},{"id":"ba6927e6.946428","type":"ui_gauge","z":"b9c7c634.575e28","name":"","group":"96750594.dc0d28","order":0,"width":0,"height":0,"gtype":"gage","title":"Illuminance","label":"lux","format":"{{value}}","min":"0","max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":500,"wires":[]},{"id":"95411978.435408","type":"ui_chart","z":"b9c7c634.575e28","name":"","group":"96750594.dc0d28","order":0,"width":0,"height":0,"label":"Illuminance","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":480,"y":560,"wires":[[],[]]},{"id":"41ecf8d8.4fae88","type":"blynk-ws-in-write","z":"43ed85cb.fec26c","name":"","pin":"1","pin_all":false,"client":"8d34cec5.0eeb1","x":110,"y":80,"wires":[["6887c38a.9d091c"]]},{"id":"6887c38a.9d091c","type":"function","z":"43ed85cb.fec26c","name":"Convert to BC format","func":"var finalString = '\"#'\nvar colorToSave = \"\";\nmsg.arrayOfValues.forEach((color) => {\n    var carry = (parseInt(color)).toString(16)\n    if(carry.length == 1) carry = \"0\" + carry;\n    finalString += carry;\n    colorToSave += carry;\n});\n\nflow.set(\"color\", colorToSave);\n\nif((flow.get(\"ledstrip\")) == false){\n    msg.payload = '\"#000000(00)\"'\n}\nelse{\n    var white = flow.get(\"white\");\n    if(white == null) white = \"00\";\n    msg.payload = finalString + '(' + white + ')\"'; \n}\n\n\nmsg.topic = \"node/power-controller:0/led-strip/-/color/set\";\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":80,"wires":[["199d5e1f.0a6f02"]]},{"id":"199d5e1f.0a6f02","type":"mqtt out","z":"43ed85cb.fec26c","name":"","topic":"","qos":"","retain":"","broker":"90dfed7b.d7791","x":650,"y":220,"wires":[]},{"id":"818945eb.2f56f8","type":"blynk-ws-in-write","z":"43ed85cb.fec26c","name":"","pin":"4","pin_all":false,"client":"8d34cec5.0eeb1","x":110,"y":260,"wires":[["fa236feb.71182"]]},{"id":"fa236feb.71182","type":"function","z":"43ed85cb.fec26c","name":"String to bool parser","func":"if(msg.payload == true)\n{\n    msg.payload = true;\n}\nelse{\n    msg.payload = false;\n}\nmsg.topic = \"node/power-controller:0/relay/-/state/set\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":260,"wires":[["199d5e1f.0a6f02"]]},{"id":"2c6022aa.aa27de","type":"blynk-ws-in-write","z":"43ed85cb.fec26c","name":"","pin":"3","pin_all":false,"client":"8d34cec5.0eeb1","x":110,"y":200,"wires":[["f3a53c9.cbfc1c"]]},{"id":"f3a53c9.cbfc1c","type":"function","z":"43ed85cb.fec26c","name":"Handler","func":"var lastColor = flow.get(\"color\")|| \"000000(00)\";\n\nif(msg.payload == false) {\n    msg.payload = '\"#000000(00)\"';\n    flow.set(\"ledstrip\", false);\n}\nelse {\n    msg.payload = '\"#' + '' + lastColor + '\"';\n    flow.set(\"ledstrip\", true);\n}\nmsg.topic = \"node/power-controller:0/led-strip/-/color/set\";\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":200,"wires":[["199d5e1f.0a6f02"]]},{"id":"7c353ad2.d42bc4","type":"blynk-ws-in-write","z":"43ed85cb.fec26c","name":"","pin":"5","pin_all":false,"client":"8d34cec5.0eeb1","x":110,"y":320,"wires":[["6137baf9.1bd334"]]},{"id":"a9f8a58c.f28348","type":"blynk-ws-in-write","z":"43ed85cb.fec26c","name":"","pin":"6","pin_all":false,"client":"8d34cec5.0eeb1","x":110,"y":380,"wires":[["87f7d9a0.f489e8"]]},{"id":"86e1b231.1d719","type":"blynk-ws-in-write","z":"43ed85cb.fec26c","name":"","pin":"2","pin_all":false,"client":"8d34cec5.0eeb1","x":110,"y":140,"wires":[["8f93b116.b9d6"]]},{"id":"6137baf9.1bd334","type":"function","z":"43ed85cb.fec26c","name":"Rainbow","func":"if(msg.payload == true && flow.get(\"ledstrip\")||true){\n    msg.payload = '{\"type\":\"rainbow\", \"wait\":50}';\n    msg.topic = \"node/power-controller:0/led-strip/-/effect/set\"   \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":320,"wires":[["199d5e1f.0a6f02"]]},{"id":"87f7d9a0.f489e8","type":"function","z":"43ed85cb.fec26c","name":"Theater chase","func":"if(msg.payload == true && flow.get(\"ledstrip\")||true){\n    msg.payload = '{\"type\":\"theater-chase-rainbow\", \"wait\":50}';\n    msg.topic = \"node/power-controller:0/led-strip/-/effect/set\"   \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":380,"wires":[["199d5e1f.0a6f02"]]},{"id":"8f93b116.b9d6","type":"function","z":"43ed85cb.fec26c","name":"White color handler","func":"var carry = (parseInt(msg.payload)).toString(16)\nif(carry.length == 1) carry = \"0\" + carry;\n\nflow.set(\"white\", carry);\n\nvar color = flow.get(\"color\");\nif(color == null) color = \"000000\";\n\nmsg.payload = '\"#' + color +'(' + carry + ')\"';\nmsg.topic = \"node/power-controller:0/led-strip/-/color/set\";\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":140,"wires":[["199d5e1f.0a6f02"]]},{"id":"fd73c3cf.a7ecc","type":"blynk-ws-in-write","z":"43ed85cb.fec26c","name":"","pin":"7","pin_all":false,"client":"8d34cec5.0eeb1","x":110,"y":440,"wires":[["a489bf84.dbef8"]]},{"id":"a489bf84.dbef8","type":"function","z":"43ed85cb.fec26c","name":"Brightness handler","func":"if(msg.payload == true && flow.get(\"ledstrip\")||true){\n    msg.payload = msg.payload;\n    msg.topic = \"node/power-controller:0/led-strip/-/brightness/set\"   \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":440,"wires":[["199d5e1f.0a6f02"]]}]
